.git_status.txt
backend/backend.log
backend/medistock
backend/medistock.db
backend/.env
backend/.env.*
!backend/.env.example
frontend/frontend.log
frontend/.env
frontend/.nuxt/
frontend/.output/
frontend/node_modules/
